body {
    font-family: Georgia, sans-serif;
    font-weight: normal;
    color: #545454;

}
/* Global */
h2 {
    color: #FFFFFF;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    display: flex;
    align-items: center;
}

h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    color: #4C4C4C;
}

h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
}


/* Utility */

.none {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0px;
}

/* Grid elements */

.containter {
    width: 1280px;
    padding-left: 40px;
    padding-right: 40px;
    
}

/*Gradient*/

.gradient {
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    width: 1280px;
    margin:auto;
    

}

/* Header */

.header {
    width: 1280px;
    height: 60px;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 0px;
    margin: auto;
}


.header-row {
    display: flex;
    width: 1200px;
    height: 60px;
    align-items: center;

}

.header-logo {
    margin-right: 567px;
    width: 190px;
    height: 60px;
}

.header-logo h1 {
    color: #F1CDB3;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin-bottom:10px;
}

.header-logo p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    letter-spacing: 0.1em;
    padding-left: 4px;
    margin-bottom: 0px;
}


.header-nav {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #FAFAFA;
    margin: auto;
    

}

.header-nav ul {
   display: flex;
   justify-content: flex-end;

}

.header-nav ul li a {
    margin-bottom: 0px;
}



.underline:hover {
    border-bottom: 3px solid #F1CDB3;
    transition: left 500ms ease-out;

}

.active {
    border-bottom: 3px solid #F1CDB3;

}

.header-nav ul li{
    margin-right: 35px;
    margin-left: auto;
 }

 .header-nav ul li:last-child {
    margin-right: 0px;
 }


 /*home*/
 .start-page {
    width: 1280px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    padding-top: 120px;
    height: 848px;
    margin: auto;

 }
 .home-container {
     display: flex;
     align-items: center;
 }

 .sorter {
     margin-right: 42px;
 }

 .home-content {
    
    height: 322px;
    width: 460px;

    border-radius: 0px;
    margin-right: 42px;


 }

 .home-heading {
    margin-top: -60px;
    width: 310px;
    height: 114px;
    left: calc(50% - 310px/2 - 75px);
    margin-bottom:42px;

 }

 
 
 .home-text {
    color: #CDCDCD;
    width: 460px;
    height: 72px;
    margin-left: calc(50% - 460px/2);
 
    
    
 }

 .home-text p {
    color: #CDCDCD;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    display: flex;
    align-items: center;
 }

 .home-btn {
    margin-top: 42px;
    
 }

 .btn {
    padding: 15px 45px;
    background: #F1CDB3;
    border-radius: 100px;
    width: 207px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.05em;
 
 }

 .btn a {
    margin-bottom: 0px;
 }
 
 .btn:hover {
    
    background: #FDDCC4;
     
 }
 
 .start-puppy img{
    width: 698px;
    height: 728px;
    margin: auto;


        
    
 }

 /*About pets page*/

 .about-shelter {
    width: 1280px;

    margin: 95px auto 87px;
}

.about-shelter-text h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin-bottom: 25px;
}

.about-pets {
    width: 1200px;
    
    display: flex;
    margin:auto;
}

 .white-doggo {
    margin-left: 175px;
    margin-right: 120px;
    margin-top: -15px;
 }

 .about-paragraph {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    margin-bottom: 25px;
 }

 /*Our friends page*/

 .our-friends {
    background: #F6F6F6;
    width: 1280px;
    height: 877px;
    margin: auto;

 }

 .our-friends-container {
    width: 1280px;
    height: 877px;
    padding-top: 80px;

 }

 .our-friends-title{
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;

 }
 
 .our-friends-title a h3 {
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;

    
 }

 .our-friends-pictures {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;
 }


 
 .our-pets-pictures-style {
    text-align: center;
    background-color: #FAFAFA;
    height: 435px;

 }

 .our-pets-pictures-style p {
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top:30px;
    margin-bottom:30px;
    
 }

 .our-pets-pictures-style a {
    padding: 15px 45px;
    border: solid 2px #F1CDB3;
    border-radius: 100px;
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;

 }

 .our-pets-pictures-style a:hover {
 
    background-color: #FDDCC4;


 }

 .our-friends-button {
    text-align: center;
    margin-top: 60px;
    height: 52px;


 }

 .our-friends-btn-main {
    padding: 15px 45px;
    border-radius: 100px;
    background-color: #F1CDB3;
    margin-top: 0px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    
 }

 .our-friends-btn-main:hover {

    background-color: #FDDCC4;
    
 }



 /* how to help page */

 .how-to-help {
    background: #FFFFFF;
    color: #545454;
    margin:auto;
    margin-bottom: 80px;

 }

 .how-to-help-container {
    width: 1200px;
    margin:auto;

 }

 .how-to-help-title {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 0.06em;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;

 }


 

 .how-ti-help-pictures-1 {
    display: flex;
    justify-content: space-between;
    

 }

 .how-ti-help-pictures-2 {
    display: flex;
    justify-content: space-between;
    padding-left: 84px;
    padding-right: 84px;
    padding-top: 55px;

}



/*you can also page*/
.you-can-also {
    background: #F6F6F6;
    width: 1280px;

    margin: auto;

}

.you-can-also-container {
    width: 1200px;
    display: flex;
    padding-top: 80px;
    padding-right: 182px;
    padding-left: 183px;
    padding-bottom: 100px;

}

.you-can-also-text {
    text-align: left;
    margin-left: 30px;
}

.you-can-also-text h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.you-can-also-text h5 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.you-can-also-text h3, h5, p, a{
    margin-bottom: 20px;
}

.you-can-also-text p {
    font-style: italic;
    margin-bottom: 0px;
}

.you-can-also-text a{

    background: #F1CDB3;
    border-radius: 9px;
    display: flex;
    align-items: center;
    width: 349px;
    height: 43px;

}


.you-can-also-text a:hover{

    background: #FDDCC4;
 

}

.you-can-also-btn h4{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 115%;
    letter-spacing: 0.06em;
    margin-left: 15px;
    width: 274px;
}

.you-can-also-btn {
   
    padding: 10px 15px;
}


.you-can-also-text p{
    color: #B2B2B2;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    width: 380px;
}

.you-can-also-text img{
    display: flex;
    align-items: center;
}


/*footer*/

.footer-container {
    display: flex;
    width: 1280px;
    margin: auto;
    justify-content: space-between;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
}

.footer-text h3 {
    margin-top: 16px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.footer-email a {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.footer-phone a {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.column-1 h3{
 color: #FFFFFF;
 margin-bottom: 40px;
}

.column-1 a{
    display: flex;
    align-items: center;
    color: #F1CDB3;
    margin-bottom: 40px;

}

.column-1 img{
    margin-right: 20px;
}


.column-2 h3{
    color: #FFFFFF;
    margin-bottom: 34px;
   }
   
.column-2 a {
    display: flex;
    align-items: center;
    color: #F1CDB3;
    margin-bottom: 32px;

}

.footer-location a {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}


.footer-text a {
    margin-bottom: 0px;
}
   
.column-2 img{
    margin-right: 20px;
}
